*{
    padding : 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: sans-serif;
    padding: 20px;
    background-color: #f0f0f0;
  }
  
  header {
    text-align: center;
    margin-bottom: 20px;
  }
  
  input[type="text"] {
    padding: 8px;
    font-size: 16px;
    width: 200px;
  }
  
  button {
    padding: 8px 12px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .galeriaDog {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    margin-top: 20px;
  }
  
  .foto-cachorro {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border: 1px solid #ccc;
  }

